---
---

@import "{{ site.theme }}";

.main-content {
  h4 {
   color: #ff0000;
 }
}

.dataframe {
    table {
        table-layout: auto;
        width: 100;
    }

    tbody tr th:only-of-type {
        vertical-align: middle;
    }

    tbody tr th {
        vertical-align: top;
    }

    thead th {
        text-align: right;
        background-color: #d3d3d3;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
}

